/* Dashboard.css */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.latest-application, .no-application {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;

  flex-direction: column;
  align-items: flex-start;
}

.latest-application h3 {
  color: #333;
  font-size: 1.25rem;
  margin-top: -5px;
  margin-bottom: -5px;
}

.latest-application .application-id {
  color: #666;
  font-size: 0.85rem;
  margin-bottom: -5px;
}

.latest-application .application-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.latest-application .status {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  width: fit-content;
  margin: 10px auto;
  text-align: center;
}

.latest-application .status-approved {
  background-color: #4CAF50;
}

.latest-application .status-rejected {
  background-color: #F44336;
}

.latest-application .reason-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  align-self: center;
}

.application-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: #007bff; /* Same as navbar */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:hover {
  background-color: #0056b3;
}

.reason-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 100;
}

.LoanApprovalGraphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.LoanApprovalGraphs > div {
  width: 100%;
  height: 100%;
}

.credit-tips {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 30px;
}

.credit-tips ul {
  list-style: none;
  padding: 0;
}

.credit-tips li {
  margin-bottom: 15px;
  font-size: 17px;
}
