.App {
  text-align: center;
  background-color: rgb(226, 226, 226);
  min-height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #3eb9af;
  padding: 20px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
}

.nav-link:hover {
  background-color: #555;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1278b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.button-space {
  margin-right: 20px;
}

.LoanApplicationForm {
  background-color: #e6e3e3;
  height: 100vh;
}

.LoanApplicationForm .form-group,
.LoanApplicationForm .income-input {
  display: flex;
  align-items: center;
  width: 100%; 
}

.LoanApplicationForm .form-group label,
.LoanApplicationForm .income-input label {
  width: 180px; 
  margin-right: 20px; 
}

.LoanApplicationForm .form-group select,
.LoanApplicationForm .income-input input {
  flex-grow: 1; 
  padding: 8px;
  box-sizing: border-box; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; 
  margin: auto; 
}

.App .form-group {
  width: 100%; 
  margin-bottom: 15px;
}

.banner {
  background-color: #041433;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.income-input {
  width: 100%; 
  display: flex;
  align-items: center;
}

.income-input span {
  font-weight: bold;
  margin-right: 10px; 
}

.Settings {
  overflow-y: auto;
  max-height: 100vh;
}

.settings-form-container {
  background-color: #f6f3f3;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-form-group {
  margin-bottom: 15px;
  align-items: center;
  margin-top: 20px;
}

.settings-form-container-delete {
  background-color: #ffffff;
  max-width: 400px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
}